<div class="col-sm-8">
    <div class="jumbotron">
        <p><%= tagline %></p>
        <ul>
            <% if (facilities) { %>

                <% Object.keys(facilities).forEach(function(facility) { %>
                    <li>
                        <strong><a href="../facility/<%= facilities[facility].uuid %>" target="_parent"><%= facilities[facility].name %>'s Daycare</a></strong>
                    </li>
                <% }); %>
               
            <% } %>
            
        </ul>
        <%- include('../partials/create_facility'); %>
    </div>
</div>